<div *ngFor="let country of country">
    <section class="head-section">
        <img [src]="country.flags.svg" [alt]="country.flags.alt" class="head-section__img">
        <div class="head-section__info">
            <h1 class="head-section__info__title">{{ country.name.common }}</h1> 
            <p class="head-section__info__subtitle">{{ country.name.official }}</p>
            <p class="head-section__info__subtitle">{{ country.region }}</p>
        </div>
    </section>
    <section class="main-section">
        <p class="main-section__info">Capital: {{ country.capital }}</p>
        <p class="main-section__info">Currencies: </p>
        <span *ngFor="let currencyCode of getCurrencies(country.currencies)">
            {{ country.currencies[currencyCode].name }} - {{ country.currencies[currencyCode].symbol }}
        </span>
        <p class="main-section__info">Subregion: {{ country.subregion }}</p>
        <p class="main-section__info">Population: {{ country.population }}</p>
        <p class="main-section__info">Timezones:  </p>
        <div *ngFor="let zone of timezones">
            {{ zone }}
        </div>
        
    </section>
</div>
